<% content_for(:title, "イベント編集") %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render partial: "admin/events/components/form", locals: {model: @event, path: admin_event_path(@event)} %>
    </div>
  </div>
</div>